<h3>Welcome <%= current_user.username %></h3>

<% if @repos && @repos["message"] != "Bad credentials" %>
<ul>
  <% # binding.pry %>
<% @repos.each do |repo| %>
  <li><%= repo["name"] %></li>
<% end %>
</ul>
<% end %>
