<section class="grey darken-3 home-section">
  <div class="container row">
  <section class="home-text col s6">
    <h3 class="white-text">Build by a developer</h3>
    <p class="flow-text grey-text">API Curious is a GitHub emulator which consumes the GitHub API, both from Rails, and using JavaScript fetch calls. It is <strong class="white-text">open source</strong> and can be looked at by <strong class="white-text">business</strong>. It's really not very usefull but is an interesting exercize.</p>
  </section>
  <div class="col s1"></div>
  <section class="white col s5 home-action-box">
    <div>
      <h5 class="center">GitHub OAuth:</h5>
      <%= link_to "Login with Github", "/auth/github", class: "btn green white-text" %>
    </div>
  </section>
</div>
</section>
