<h3>Build by a developer</h3>
<p class="flow-text">API Curious is a GitHub emulator which consumes the GitHub API. It is <strong>open source</strong> and can be looked at by <strong>business</strong>. It's really not very usefull but is an interesting exercize</p>
